
*.pyc
music/__pycache__/urls.cpython-311.pyc
*.pyc
/music/__pycache__
/music/migrations
/music_manage/__pycache__
/music/serializers/__pycache__
/music/migrations/__pycache__
/music/serializers/__pycache__
/music/views/__pycache__
*.pyc
music/__pycache__/admin.cpython-311.pyc
music/__pycache__/apps.cpython-311.pyc
music/__pycache__/middleware.cpython-311.pyc
music/__pycache__/permissions.cpython-311.pyc
music/__pycache__/urls.cpython-311.pyc
music/admin_classes/__pycache__/__init__.cpython-311.pyc
music/admin_classes/__pycache__/config_admin.cpython-311.pyc
music/admin_classes/__pycache__/song_admin.cpython-311.pyc
music/migrations/__pycache__/0001_initial.cpython-311.pyc
music/migrations/__pycache__/__init__.cpython-311.pyc
music/models/__pycache__/__init__.cpython-311.pyc
music/models/__pycache__/config.cpython-311.pyc
music/models/__pycache__/song.cpython-311.pyc
music/serializers/__pycache__/__init__.cpython-311.pyc
music/utils/__pycache__/gconfig.cpython-311.pyc
music/views/__pycache__/soundcloud_search_view.cpython-311.pyc
music_manage/__pycache__/settings.cpython-311.pyc
*.pyc
